table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
	text-align: center;
}

.calNav:hover {
	color: blue;
}

.calNav {
	color: royalblue;
	cursor: pointer;
}

table th {
	width: 14.28%;
}

.currentMonth {
	color: royalblue;
}

.otherMonth {
	color: gray;
}

.currentDay {
	color: blue;
	font-weight: bolder;
}
